* {
  padding:0 ;
  margin:0;
}

h1{
  padding:20px;
  font-family:  sans-serif;
}

h3{
  background-color:13151f;
  padding:10px;
  font-family: arial;
  margin:10px;
  border-radius:10px;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #0e141a;
  text-align:center;

}

.img-container{
  margin:auto;
  padding:20px;
  background-color:black;
  max-width: 100%;
}

.musk-image {
  object-fit: contain;
  border-radius:  10px;
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
  }

  .caption{
    padding-top: 5 px;
  }

  .life {
    font-size: 20px;
    padding:  30px 70px;
    max-width:  600px;
    margin: 10px auto;
    background: color #002; ;
  }